/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

@font-face {
  font-family: 'Pokemon GB';
  src: url('../public/pokemongb.woff') format('woff2'),
      url('../public/pokemongb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#root {
  margin: 1rem 0;
  max-width: 500px;
}

* {
  line-height: 150%;
}

/* App.js */
.App {
  display: flex;
  flex-direction: column;
  border: 1rem solid lightgray;
  border-radius: 0.25rem;
  font-family: 'Pokemon GB', sans-serif;
}

.App > * {
  background-color: #75903f;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

/* Logo.js */
.logo-container {
  display: flex;
  flex-direction: column;
}

.logo-heading {
  font-size: 0.9rem;
  font-weight: bold;
}

.logo-image {
  width : 200px;
  align-self: center;
  cursor: pointer;
}

/* BestPokemon.js */
.best-pokemon-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
}

.best-pokemon-heading > span {
  font-weight: bold;
}

.best-pokemon-description {
  font-style: italic;
}

.best-pokemon-abilities-heading {
  font-weight: bold;
}

.best-pokemon-abilities-list {
  padding-left: 1rem;
}

/* CaughtPokemon.js */
.caught-pokemon-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
}

.caught-pokemon-info {

}

.caught-pokemon-input {
  padding: 0.3rem 0.6rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: transparent;
  font-family: inherit;
}

.caught-pokemon-button {
  padding: 0.3rem 0.6rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

.caught-pokemon-list-heading {
  font-weight: bold;
}

.caught-pokemon-list {
  padding-left: 1rem;
}

.caught-pokemon-list-item {
  font-weight: bold;
}

/* PokemonMovesSelector.js */
.pokemon-moves-selector-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.pokemon-moves-selector-heading {

}

.pokemon-moves-selector-button-container {
  display: flex;
  gap: 0.25rem;
}

.pokemon-moves-selector-button {
  width: 33%;
  padding: 0.3rem 0.6rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: transparent;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}

/* PokemonMoves.js */
.pokemon-moves-container {
  display: flex;
  flex-direction: column;
}

.pokemon-moves-image {
  width: 128px;
}

.pokemon-moves-heading > span {
  font-weight: bold;
}

.pokemon-moves-list {
  margin-top: 0.5rem;
  padding-left: 1rem;
  height: 6rem;
  overflow-y :scroll;
  cursor: scroll;
}

.pokemon-moves-list-item {

}

/* PokemonCity.js */
.pokemon-city-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem; 
}

.pokemon-city-input {
  padding: 0.3rem 0.6rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: transparent;
  font-family: inherit;
}

.pokemon-city-text > span {
  font-weight: bold;
}

/* Fun Styling */
.pokedex-container {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #ed1e24;
}

.pokedex-decoration {
  background-color: #ed1e24;
}

.pokedex-decoration-image {
  display: block;
  padding-bottom: 0.5rem;
}

/* PokemonGif.js */
.pokemon-gif-container {
  font-size: 0.8rem;  
}

.pokemon-gif-image {
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
}